
{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "tmpDir": "/opt/tmp-folder",
    "logs": {
        "text": "infection.log",
        "summary": "infection-summary.log",
        "debug": "infection-debug.log",
        "perMutator": "infection-per-mutator.md",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
